.instructions
    background-color white
    height 100%
    width 100%
    
.heading
    font-size 5rem
    font-family "Courier New", Courier, monospace;
    text-align center

.item
    font-size 4rem   
    font-family "Courier New", Courier, monospace;
    text-align left