.playerList
  border 2px solid black
  background #E67E22
  flex-basis 48%
  display block
	width 100%
  margin-left auto
  margin-right auto
  margin-bottom 2rem
  line-height 2
  text-decoration none
  padding 3rem
  border-radius: 8px
  text-align center
  font-size 1.5rem
  color black
  transition all 0.2s
  box-sizing padding-box
  &:hover, &:focus
    border-color black
    outline 0

	.playerListBox
	background white 
	width 50%
	height 50%
	text-align center
	box-sizing border-box
	margin auto
	border-style solid
	border-width 5px
	padding 15px
	font-family: 'Inconsolata', monospace;
	font-size 15px
	font-weight bold